/* Скрытие текста "Файл еще не выбран" */
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

.form-control-file::before {
    content: 'Выбрать файл';
    /* Текст для кнопки загрузки файла */
    display: inline-block;
    background: #00093C;
    /* Цвет фона кнопки */
    color: #fff;
    /* Цвет текста кнопки */
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.form-control-file:hover::before {
    background: #B8EFCF;
    color: #00093C;
    /* Цвет фона кнопки при наведении */
}


/* Стили для кнопки сохранения данных */
#saveButton {
    display: inline-block;
    background: #00093C;
    /* Цвет фона кнопки */
    color: #fff;
    /* Цвет текста кнопки */
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
}

#saveButton:hover {
    background: #B8EFCF;
    color: #00093C;
    /* Цвет фона кнопки при наведении */
}

.font-nav-tabs {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

.font-items, .download-button, .mt-4 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}
