@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --color1: #00093C;
    --color2: #B8EFCF;
}

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.body-bg-blue {
    background-color: var(--color1);
}

.text-field {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 24px 24px 0px 24px;
}

@media (min-width: 720px) {
    .text-field {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 37px;
        padding: 48px;
    }
}

.img-field {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

@media (min-width: 720px) {
    .img-field {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 48px;
    }
}

.img-sphere {
    padding: 24px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-sphere img {
    height: 200px;
    width: auto;
}
