<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Главная</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg body-bg-blue navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='img/emblem_site.svg')}} " alt="Сила звезд" width="65" height="49">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item px-3 dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="bi bi-calendar2-event"></i>
                                Прогноз
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><i class="bi bi-calendar2-date pe-1"></i>на
                                        сегодня</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-calendar2-week pe-1"></i>на
                                        неделю</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-calendar2-month pe-1"></i>на
                                        месяц</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-calendar2-fill pe-1"></i>на
                                        год</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-calendar2-day pe-1"></i>на день
                                        недели</a></li>
                            </ul>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" aria-current="page" href="#"><i
                                    class="bi bi-chat-right-text pe-1"></i>Нужен совет</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="#"><i class="bi bi-file-earmark-person pe-1"></i>Натальная
                                карта</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item px-3">
                            <a class="nav-link active" aria-current="page" href="#"><i
                                    class="bi-person-circle pe-1"></i>Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-fill">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-12 color1 text-field">
                        Тайна звезд
                        нас завораживает
                        и пугает, но от этого
                        их притяжение не
                        становится
                        меньше!
                    </div>
                    <div class="col-xl-6 col-md-12 img-field"><img class="img-fluid" src="{{ url_for('static', filename='img/mysterious_space.png') }}"
                            height="400" width="400">
                    </div>
                </div>
            </div>
        </section>
        <section class="body-bg-blue text-white pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-12 img-field"><img class="img-fluid" src="{{ url_for('static', filename='img/exploring_the_stars.png') }}"
                            height="400" width="400">
                    </div>
                    <div class="col-xl-6 col-md-12 text-field">
                        Веками человечество собирало сведения о космических телах, преодолевая множество трудностей на
                        пути к познанию тайн Вселенной.
                    </div>
                </div>
                <div class="row pt-xl-5 pt-4">
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="img-sphere"><img src="{{ url_for('static', filename='img/sun_emblem.svg') }}" alt=""></div>
                        <h3 class="text-center">Солнце</h3>
                        <p class="px-5">Солнце занимает сильное положение в гороскопе людей, имеющих от рождения
                            лидерские
                            способности.</p>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="img-sphere"><img src="{{ url_for('static', filename='img/moon_emblem.svg') }}" alt=""></div>
                        <h3 class="text-center">Луна</h3>
                        <p class="px-5">Луна символизирует самое близкое и важное для любого человека — его дом и семью.
                        </p>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="img-sphere"><img src="{{ url_for('static', filename='img/planet_emblem.png') }}" alt=""></div>
                        <h3 class="text-center">Планеты</h3>
                        <p class="px-5">Планеты – символические сущности, которые в сочетании со знаками Зодиака могут
                            влиять на характер и судьбу человека.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="first_row-p-3s">В поисках ответов на вечные вопросы о себе и вселенной, человек создал
                            искусственный
                            интеллект, надеясь, что это зеркало разума откроет ему двери в неизведанные глубины
                            существования. С каждым днем, общаясь со своим творением, он начал замечать, как границы
                            между создателем и созданием стираются, открывая путь к пониманию, что интеллект, будь он
                            искусственным или человеческим, тянется к одному и тому же свету знания. В конце концов,
                            путешествие за знанием привело его не к ответам, а к пониманию, что истинная мудрость
                            заключается не в поиске ответов, а в ценности вопросов, которые мы задаем, стоя перед лицом
                            бесконечной вселенной.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-12 img-field"><img class="img-fluid"
                                                                   src="{{ url_for('static', filename='img/AIimage.png') }}" height="400" width="400">
                    </div>
                    <div class="col-xl-6 col-md-12 text-field-3s">
                        <p class="second_row-p-1-3s">Сейчас искусственный интеллект позволяет связывать воедино наши
                            обширные
                            знания по
                            астрологии и астрономии.</p>
                        <p class="second_row-p-2_3-3s">Его мозг - лучшие супер компьютеры человечества!</p>
                        <p class="second_row-p-2_3-3s">Его память - вся база знаний человечества!</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="body-bg-turquoise">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-black py-5">
                        <h2>Что ты хочешь узнать сегодня?</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-md-6 col-sm-12 pb-4">
                        <div class="position-relative text-center">
                            <img src="{{ url_for('static', filename='img/speak_bubble.png') }}" class="img-fluid">
                            <div class="position-absolute top-50 start-50 translate-middle pb-2">
                                <p class="text-black text-buble">Кто виноват и что делать?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12 pb-4">
                        <div class="position-relative text-center">
                            <img src="{{ url_for('static', filename='img/speak_bubble.png') }}" class="img-fluid">
                            <div class="position-absolute top-50 start-50 translate-middle pb-2">
                                <p class="text-black text-buble">Кто виноват и что делать?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12 pb-4">
                        <div class="position-relative text-center">
                            <img src="{{ url_for('static', filename='img/speak_bubble.png') }}" class="img-fluid">
                            <div class="position-absolute top-50 start-50 translate-middle pb-2">
                                <p class="text-black text-buble">Кто виноват и что делать?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12 pb-4">
                        <div class="position-relative text-center">
                            <img src="{{ url_for('static', filename='img/speak_bubble.png') }}" class="img-fluid">
                            <div class="position-absolute top-50 start-50 translate-middle pb-2">
                                <p class="text-black text-buble">Кто виноват и что делать?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12 pb-4">
                        <div class="position-relative text-center">
                            <img src="{{ url_for('static', filename='img/speak_bubble.png') }}" class="img-fluid">
                            <div class="position-absolute top-50 start-50 translate-middle pb-2">
                                <p class="text-black text-buble">Кто виноват и что делать?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 text-center">
                    <img src="{{ url_for('static', filename='img/girl21.png') }}img/девушка2%201.png" alt="" height="400" width="auto">
                </div>
            </div>
        </section>
    </main>
    <footer class="mt-auto body-bg-blue text-white text-center">
        <div class="container">
            <div class="row">
                <div class="col col-12 p-2"><small>Все прогнозы и советы представлены исключительно в качестве
                        рекомендаций. Вы
                        несете полную ответственность за свои решения и действия на основе предложенной
                        информации.</small>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 p-2"><small>Все права защищены. © 2024</small></div>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
