{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}">
{% endblock %}
{% block title %}Profile{% endblock %}

{% block content %}
<!-- Содержимое вашей страницы здесь -->
    <div class="mt-xl-5 mt-2 mb-5 container">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
        <div class="row">
          <div class="col-md-6 mt-2 mb-2 font-items">
            <form method="post" >
              <div class="form-group mt-2 mb-3">
                <label for="firstName">Имя</label>
                <input name="name" type="text" class="form-control" id="firstName" placeholder="{{ current_user.name or 'Введите ваше имя' }}" value="">
              </div>
              <div class="form-group mt-2 mb-3">
                <label for="lastName">Фамилия</label>
                <input name="surname" type="text" class="form-control" id="lastName" placeholder="{{ current_user.name or 'Введите вашу фамилию'}}">
              </div>
              <div class="form-group mt-2 mb-3">
                <label for="middleName">Отчество</label>
                <input name="patronymic" type="text" class="form-control" id="middleName" placeholder="{{ current_user.name or 'Введите ваше отчество'}}">
              </div>
              <div class="form-group mt-2 mb-3">
                <label for="birthdate">Дата рождения</label>
                <input name="birthday" type="date" class="form-control" id="birthdate">
              </div>
              <div class="form-group mt-2 mb-3">
                <label for="birthtime">Время рождения</label>
                <input name="birth_time" type="time" class="form-control" id="birthtime">
              </div>
              <div class="form-group mt-2 mb-3">
                <label for="country">Страна</label>
                <input name="country" type="text" class="form-control" id="country" placeholder="{{ current_user.name or 'Введите вашу страну'}}">
              </div>
              <div class="form-group mt-2 mb-3">
                <label for="city">Город</label>
                <input name="city" type="text" class="form-control" id="city" placeholder="{{ current_user.name or 'Введите ваш город'}}">
              </div>
                <div class="mt-4">
          <button id="saveButton" type="submit" class="btn btn-primary">Сохранить данные</button>
        </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-4">
              <label for="photoPreview"></label>
              <div id="photoPreview" class="p-1 mb-2" style="text-align: center;">
                  {% if current_user.avatar %}
                    <img id="oldPhoto" src="{{ current_user.avatar }}" alt="Avatar" class="img-fluid rounded">
                  {% else %}
                    <img id="oldPhoto" src="{{ url_for('static', filename='img/mysterious_space.png') }}" alt="Старое фото" class="img-fluid rounded">
                  {% endif %}
              </div>
              <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" id="uploadForm">
                <div class="form-group mt-2 mb-3" style="text-align: center;">
                  <label for="photo" style="display: block;">Загрузить изображение</label>
                  <label id="saveButton" class="btn btn-primary mt-2"
                    style="display: inline-block; width: auto; padding: 5px 50px;">
                    Выбрать файл<input type="file" id="photo" name="photo"
                                       onchange="document.getElementById('uploadForm').submit();" hidden>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="tab-pane fade text-center mt-5" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
        <p>В ожидании прогнозов</p>
      </div>
      <div class="tab-pane fade text-center mt-5" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
        <p>У Вас пока нет натальной карты</p>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
